<h2>Reports</h2>

<div class="list-group">
  <%= for period <- @periods do %>
    <%= link format_period(period), to: Routes.admin_report_path(@conn, :show, period.year, period.month), class: "list-group-item list-group-item-action" %>
  <% end %>
</div>
