<h1>New Reward</h1>

<dl>
  <dt>Sender</dt>
  <dd><%= @sender.name %></dd>

  <dt>Pool</dt>
  <dd>
    <%= pool_period(@pool) %>
    (<%= @pool.remaining_points %> remaining points)
  </dd>
</dl>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_member_pool_reward_path(@conn, :create, @sender, @pool)) %>

<span><%= link "Back", to: Routes.admin_member_pool_reward_path(@conn, :index, @sender, @pool) %></span>
