<h1>New Reward</h1>

<ul>
  <li>
    <strong>Sender:</strong>
    <%= @sender.name %>
  </li>
  <li>
    <strong>Pool:</strong>
    <%= pool_period(@pool) %>
    (<%= @pool.remaining_points %> remaining points)
  </li>
</ul>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_member_pool_reward_path(@conn, :create, @sender, @pool)) %>

<span><%= link "Back", to: Routes.admin_member_pool_reward_path(@conn, :index, @sender, @pool) %></span>
