<h1><%= @member.name %></h1>

<h2>Given rewards</h2>

<ul>
  <%= for reward <- @given_rewards do %>
    <li><%= reward.receiver.name %>: <%= reward.points %></li>
  <% end %>
</ul>

<span><%= link "Back", to: Routes.member_path(@conn, :index) %></span>
